{% load static %}
<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">

<meta
name="viewport"
content="width=device-width, initial-scale=1.0"
>

<title>
Maintenance
</title>

<link
rel="stylesheet"
href="{% static 'css/style.css' %}"
>

<style>

body{
    background:#071739;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    text-align:center;
    padding:20px;
}

.box{
    max-width:600px;
}

h1{
    font-size:52px;
    margin-bottom:20px;
}

p{
    font-size:18px;
    opacity:.9;
}

</style>

</head>

<body>

<div class="box">

<h1>
We'll Be Back Soon
</h1>

<p>
The platform is currently under maintenance.
Please check back later.
</p>

</div>

</body>
</html>