{% extends 'dashboard/base.html' %}

{% block title %}
Verify Password Change
{% endblock %}

{% block content %}

<div class="settings-container">

    <div class="settings-card">

        <h2>
            Verify Password Change
        </h2>

        <p>
            Enter the verification code sent
            to your email address.
        </p>

        <form method="POST">

            {% csrf_token %}

            <div class="form-group">

                <label>
                    Verification Code
                </label>

                <input
                    type="text"
                    name="code"
                    maxlength="6"
                    required
                >

            </div>

            <button
                type="submit"
                class="save-btn"
            >
                Verify Password
            </button>
            <a
            href="/resend-password-change-code/"
            class="resend-link"
            >
            Resend Code
            </a>

        </form>

    </div>

</div>

{% endblock %}